<%= gmaps("markers" => { "data" => @merchants.uniq.to_gmaps4rails} ) %>

<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Price</th>
    <th>Merchant</th>
    <th>Start at</th>
    <th>End at</th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= link_to service.title, service %></td>
    <td><%= link_to service.category, service %></td>
    <td><%= link_to number_to_currency(service.price), service %></td>
    <td><%= link_to service.merchant.name, service %>
    <td><%= link_to service.start_at.strftime("%m/%d/%Y  %I:%M %p"), service %></td>
    <td><%= link_to service.end_at.strftime("%m/%d/%Y  %I:%M %p"), service %></td>
  </tr>
<% end %>
</table>

<br />
