	
<%# gmaps("markers" => { "data" => @merchants.uniq.to_gmaps4rails} ) %>

<script>
  $(document).ready(function() { 
//          $("#services").tablesorter(); 
          $("table") 
              .tablesorter() 
              .tablesorterPager({container: $("#pager")});
  } );
</script>


<table id="services" class="zebra-striped bordered-table tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Price</th>
      <th>Merchant</th>
      <th>Start at</th>
      <th>End at</th>
    </tr>
  </thead>
<% @services.each do |service| %>
  <tr>
    <td><%= link_to service.title, service %></td>
    <td><%= link_to service.category, service %></td>
    <td><%= link_to number_to_currency(service.price), service %></td>
    <td><%= link_to service.merchant.name, service %>
    <td><%= link_to service.start_at.strftime("%m/%d/%Y  %I:%M %p"), service %></td>
    <td><%= link_to service.end_at.strftime("%m/%d/%Y  %I:%M %p"), service %></td>
  </tr>
<% end %>
</table>
<br />

<div id="pager" class="pager">
	<form>
		<img src="/assets/first.png" class="first"/>
		<img src="/assets/prev.png" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="/assets/next.png" class="next"/>
		<img src="/assets/last.png" class="last"/>
		<select class="pagesize">
			<option value="10">10 per page</option>
			<option value="20">20 per page</option>
			<option value="50">50 per page</option>
			
		</select>
	</form>
</div>