<p id="notice"><%= notice %></p>

<h2><%= link_to @service.merchant.name, @service.merchant %></h2>

<p>
  <b>Title:</b>
  <%= @service.title %>
</p>

<p>
  <b>Type:</b>
  <%= @service.category %>
</p>

<p>
  <b>Price:</b>
  <%= @service.price %>
</p>

<p>
  <b>Start at:</b>
  <%= @service.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @service.end_at %>
</p>

<%= gmaps({ "map_options" => { "zoom" => 14, "auto_zoom" => false}, "markers" => { "data" => @marker } }) %>

<%# link_to 'Edit', edit_service_path(@service) %> 
<%# link_to 'Back', services_path %>
