<%= form_for(@merchant) do |f| %>
  <% if @merchant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

      <ul>
      <% @merchant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :street, :placeholder => "Street" %>
  </div>
  <div class="field">
    <%= f.text_field :city, :placeholder => "City" %>
  </div>
  <div class="field">
    <%= f.text_field :state, :placeholder => "State" %>
  </div>
  <div class="field">
    <%= f.text_field :zip, :placeholder => "Zip" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, :placeholder => "Phone" %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn primary'%>
  </div>
<% end %>
