<h1>Listing merchants</h1>

<table class="zebra-striped bordered-table">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @merchants.each do |merchant| %>
  <tr>
    <td><%= merchant.name %></td>
    <td><%= merchant.city %></td>
    <td><%= merchant.state %></td>
    <td><%= merchant.zip %></td>
    <td><%= merchant.phone %></td>
    <td><%= link_to 'Show', merchant %></td>
    <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
    <td><%= link_to 'Destroy', merchant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Merchant', new_merchant_path %>
