<div class="well">
  <h5>Location</h5>
  <%= form_tag search_for_location_path, :remote => true do %>
    <%= text_field_tag :address, params[:address], :placeholder => 'address', :class => 'span3' %>
    <p class="field">
      <%= submit_tag 'Submit', :class => 'btn primary' %>
    </p>  
  <% end %>
  <p class="coordinates">Cordinates: </p>
</div>

<div class="well">
  <h5>Categories</h5>
  <ul class="unstyled">
    <li><%= link_to 'All', services_path %></li>
    <li><%= link_to 'Facial', services_category_path(:category => 'facial') %></li>
    <li><%= link_to 'Hair Cut', services_category_path(:category => 'hair_cut') %></li>
    <li><%= link_to 'Hair Style', services_category_path(:category => 'hair_style') %></li>
    <li><%= link_to 'Hair Color', services_category_path(:category => 'hair_color')  %></li>
    <li><%= link_to 'Massage', services_category_path(:category => 'massage')  %></li>
    <li><%= link_to 'Nail Service', services_category_path(:category => 'nail_service')  %></li>
    <li><%= link_to 'Hair Removal', services_category_path(:category => 'hair_removal')  %></li>
  </ul>
</div>

<div>
  <p class="debug">
  <% if session %>
    <%= debug session %>
  <% end %>    
  </p> 
</div>

<div>
  <p>
  <% if @marker %>
    <%= debug @marker %>
  <% end %>
  </p>
</div>