<!DOCTYPE html>
<html>
<head>
<title>PrettyQuick</title>
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<style type="text/css">
    body {
      padding-top: 60px;
    }
</style>

</head>
<body>

<script>

    var geocoder = new google.maps.Geocoder();

    function success(position) {
      var lat = position.coords.latitude 
      var lng = position.coords.longitude

      //for (key in position.coords) {alert(key)};


//********************************************************
      //REVERSE GEO
      geocoder.geocode({'latLng': new google.maps.LatLng(position.coords.latitude, position.coords.longitude)}, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[0]) {
            $('#address').append(results[0].formatted_address);  
            
            //document.body.innerHTML += 'google.maps.Geocoder ' + results[0].formatted_address;
          }
        } else {
          console.log(arguments);
          //document.body.innerHTML += 'Geocoder failed due to: ' + status;
        }
      });

//********************************************************

      $('#cordinates').append(lat, ", ", lng);  
      console.log(lat, lng);
    }

    function error(msg) {
       console.log(arguments);
    }

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, error);
    } else {
      error('not supported');
    }

</script>


        
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <%= link_to "Pretty Quick", root_url, :class => "brand"  %>
        <ul class="nav">
          <%= render "layouts/navigation" %>
        </ul>
        <p class="pull-right">
        <% if current_user %>
            Logged in as <%= current_user.email %>
            <%= link_to "Log out", log_out_path %>
        <% else %>            
          <%= form_tag sessions_path, :class=> "pull-right" do %>
              <%= text_field_tag :email, params[:email], :class => "input-small", :placeholder => "Username" %>
              <%= password_field_tag :password, params[:password], :class => "input-small", :placeholder => "Password" %>
              <%= submit_tag "Sign in"%>
          <% end %>
        <% end %>    
        </p>
      </div>   
    </div>
  </div>      

  <div class="container-fluid">

      <div class="sidebar">
        <%= render 'layouts/sidebar' %>
      </div>

      <div class="content">
        <%= yield %>
      </div>

  </div>

</body>
</html>
